*.o
*.lo
*.la
*.a
*.so
*~
.*
autom4te.cache
aclocal.m4
config.guess
config.log
config.status
config.sub
configure
compile
depcomp
install-sh
libtool
ltmain.sh
missing
Makefile.in
Makefile
Makefile.am.sample
tests/atconfig
tests/dummy-cn
tests/hnb-test
tests/package.m4
tests/test-helpers
tests/test-hnbap
tests/test-ranap
tests/testsuite
tests/testsuite.dir
tests/testsuite.log
src/osmo-hnbgw
tags
libosmo-hnbap.pc
libosmo-ranap.pc
libosmo-rua.pc
libosmo-sabp.pc
m4
gen_hnbap.stamp
gen_rua.stamp
gen_ranap.stamp
gen_sabp.stamp
include/osmocom/hnbap/hnbap_ies_defs.h
include/osmocom/rua/rua_ies_defs.h
include/osmocom/ranap/ranap_ies_defs.h
include/osmocom/sabp/sabp_ies_defs.h

doc/manuals/build
doc/manuals/common
doc/manuals/generated
doc/manuals/*.pdf

contrib/osmo-iuh.spec
include/osmocom/*/version.h
