*.o
*.a
*.so
*~
.*
autom4te.cache
aclocal.m4
config.log
config.status
configure
compile
depcomp
install-sh
missing
Makefile.in
Makefile
Makefile.am.sample
src/tests/atconfig
src/tests/hnb-test
src/tests/package.m4
src/tests/test-helpers
src/tests/test-hnbap
src/tests/test-ranap
src/tests/testsuite
src/tests/testsuite.log
